{% extends "users/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

    {% include "users/navbar.html" %}
    <h5 class="mb-3">{{list.title}}</h5>

    <!-- Add Task Form -->
    <form class="d-flex justify-content-center align-items-center mb-4" id="add-task-form">
        <div class="form-outline flex-fill">
            <input type="text" id="task" class="form-control form-control-lg" />
        </div>
        <button class="btn btn-lg ms-2" style="background-color: #db8ac2;outline: none; color: white;">Add</button>
    </form>
    <!-- End Task Form -->
    <label class="form-label" for="form3">What do you need to do today?</label>

    <!-- Task List -->
    <ul class="list-group mb-0" id="task-list">
        {% for task in tasks %}
        <li
            class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2" id="task-{{task.id}}">
            <div class="d-flex align-items-center">
                {% if task.is_completed %}
                    <input class="form-check-input me-2 mark-complete" type="checkbox" value="{{task.id}}" aria-label="..." checked/>
                    <s>{{ task.description }}</s>
                {% else %}
                    <input class="form-check-input me-2 mark-complete" type="checkbox" value="{{task.id}}" aria-label="..." />
                    {{ task.description }}
                {% endif %}
            </div>
            <div>
                <a id="delete-{{task.id}}" class="text-danger task-actions" data-mdb-toggle="tooltip" title="Delete todo">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        $(".mark-complete").click(function(e){
            e.preventDefault();
            console.log("checked")
            var task_id = this.value
            console.log(task_id)
            $.ajax({
                type: "POST",
                url: "/mark/task/" + task_id,
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function ( data ) {
                    location.reload();
                }
            });
        });

        $(".task-actions").click(function(e){
            e.preventDefault();
            console.log("clicked")
            var id = this.id
            var task_id = this.id.split("-")[1]
            if (id.includes("edit")){
                console.log("edit");
            }   
            if (id.includes("delete")){
                console.log("delete");
                console.log(task_id);
                $.ajax({
                    type: "POST",
                    url: "/delete/task/" + task_id,
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function ( data ) {
                        $("#task-"+task_id).remove()
                        location.reload();
                    }
                });
            }
        });

        $("#add-task-form").submit(function(e){
            e.preventDefault(); // prevent page from loading
        
            var newtaskinput = $("#task")            
            // make an ajax call to add task to the list
            $.ajax(
                {
                    type:"POST",
                    url: "/create/task",
                    data:{
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        list: "{{list.id}}",
                        description: newtaskinput.val()
                    },
                    success: function( data ) 
                    {
                        newtaskinput.val('') // clear input field
                        console.log(data)
                        var newtask = data.task;
                        var newtaskitem = 
                        `<li
                            class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                            <div class="d-flex align-items-center">
                            <input class="form-check-input me-2" type="checkbox" value="{{task.id}}" aria-label="..."/>
                        ` + newtask +                        
                    `</div>
                        <div>
                        <a href="#!" class="text-info" data-mdb-toggle="tooltip" title="Edit todo">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#!" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo">
                            <i class="fa fa-trash"></i>
                        </a>
                        </div>
                    </li>`
                        console.log($("#task-list").last())
                        $("#task-list").last().append(newtaskitem)  // append new task to the end of list 
                        location.reload();
 
                    }
                })
            });
        
    </script>
{% endblock content %}